{% extends 'todo/base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{message}} </li>
  {% endfor %}
</ul>
{% endif %}
{% if todos %}
<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Is completed ? </td>
    <td>Due Date</td>
    <td>Notes</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  {% for todo in todos %}
  <tr>
    <td>{{ todo.id }}</td>
    <td>{{ todo.name }}</td>
    <td>{{ todo.is_completed }}</td>
    <td>{{ todo.due_date }}</td>
    <td>{{ todo.notes }}</td>
    <td><a href="{% url 'todo_edit' todo.id %}">Edit</a>
    <td><a href="{% url 'todo_delete' todo.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No todo items</p>
{% endif %}
{% endblock content %}
